.shoeSection{
    z-index: 1;
    position: relative;
    font-family: 'Oswald',sans-serif;
    height: 70vh;
    overflow: hidden;
}
.shoeSection>img{
    position: absolute;
    top: 1em;
}
.shoeSection .content{
    position: absolute;
    top:5em;
    width: 40%;
    height:40%
}
.shoeSection .content .shoeCategory{
    position: absolute;
    left: 0%;
}
.shoeSection .content .shoeName{
    position: absolute;
    left: 0%;
    top: 0.5em;
    height: 100%;
    width: 100%;
    font-size: 300%;
    font-weight: bold;
}
.shoeSection .content .shoeDescription{
    position: absolute;
    left: 0%;
    top: 6em;
    height: 100%;
    width: 100%;
    font-size: 100%;
}
.shoeSection .content .shoePrice{
    position: absolute;
    left: 0%;
    top: 7em;
    height: 100%;
    width: 100%;
    font-size: 150%;
    font-weight: bold;
}
.shoeSection .content .buyNowBtn{
    position: absolute;
    left: 0%;
    top: 8.5em;
    height: 100%;
    width: 100%;
    font-size: 150%;
    font-weight: bold;
}
.shoeSection .content .buyNowBtn > button{
    border-radius: 20px;
    width: 100px;
    height: 30px;
    border: 1px solid rgba(8, 8, 8, 0.822);
    background-color: transparent;
    color: black;
    font-family: 'Oswald',sans-serif;
    transition:color 0.5s ease-in-out, background-color 0.5s ease-in-out, border 0.5s ease-in-out,font-size 0.5s ease-in-out;
    font-size: 12px;
}
.shoeSection .content .buyNowBtn > button:hover{
    background-color: rgba(164, 4, 4, 0.9);
    border: none;
    color:white
}