header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 100vw;
    background-color: var(--defaultColor);
    & .logo{
        flex-grow: 1;
        margin: 5%;
        & img{
            height: 50%;
            width:50%;
            margin: 5%;
        }
    }
    & ul{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
        color: whitesmoke;
        margin: 3%;
        & li{
            transition: font-size 0.3s ease, text-shadow 0.3s ease;
        }
    }
    & li:hover{
        text-shadow:0 0 5px whitesmoke;
        font-size: 1.1rem;
    }
}

@media (min-width:768px){
    header{
        & .logo{
            padding: 3% 2%;
            & img{
                width:40%;
            }
        }
        & ul{
            font-size: 1.7rem;
        }
        & li:hover{
            font-size: 1.8rem;
        }
    }
}

@media (min-width:1024px){
    header{
        & .logo{
            padding: 3% 0%;
            & img{
                height: 10%;
                width:10%;
            }
        }
        & ul{
            font-size: 1.1rem;
        }
        & li:hover{
            font-size: 1.2rem;
        }
    }
}