header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 100vw;
    background-color: var(--defaultColor);
    & .logo{
        flex-grow: 1;
        margin: 5%;
        & img{
            height: 50%;
            width:50%;
            margin: 5%;
        }
    }
    & ul{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
        color: whitesmoke;
        margin: 1rem;
    }
}

@media (min-width:768px){
    header{
        & .logo{
            padding: 3% 2%;
            & img{
                width:40%;
            }
        }
        & ul{
            font-size: 2rem;
        }
    }
}

@media (min-width:1024px){
    header{
        & .logo{
            padding: 3% 0%;
            & img{
                height: 10%;
                width:10%;
            }
        }
        & ul{
            font-size: 1.5rem;
        }
    }
}